<div id="profile" role="tabpanel" class="tab-pane fade">

  <!-- Store Image -->
  <div>
    <%= image_tag @store.user.avatar.url(:medium) %>
  </div>

  <!-- Ratings -->
  <% if current_user && (@store.id != current_user.store.id) %>
    Quality: <%= rating_for @store, "quality", star: 10, disable_after_rate: false, cancel_place: 'right' %>
  <% end %>
  <% if @store.average("quality") != nil %>
    Total score: <%= @store.average("quality").avg%>/<%= @store.rates("quality").count %>
  <%end%>
  <hr>

  <h4>About Seller</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis culpa libero eaque ipsam qui eveniet,
    sapiente officiis in numquam atque.</p>

  <% if @store.user_id == current_user.id %>
    <h3>This is meeeeeeeeeeeeee</h3>
  <% elsif current_user_is_following(current_user.id, @store.user.id)%>
    <%= link_to "Unfollow", unfollow_user_path(@store.user.username), class: 'btn btn-primary'%>
  <% else %>
    <%= link_to "Follow", follow_user_path(@store.user.username), class: 'btn btn-primary'%>
  <% end %>
</div>
