<div id="profile" role="tabpanel" class="tab-pane fade <%= (@streamer_view || @store.streaming_now == true) ? '' : 'show active' %>">

  <div class="wrapper">
    <!-- Store Image -->
    <div>
      <%= image_tag @store.user.avatar.url(:medium) %>
    </div>

    <!-- Ratings -->
    <% if current_user %>
      Quality: <%= rating_for @store, "quality", star: 10, disable_after_rate: false, cancel_place: 'right' %>
    <% end %>
    <% if @store.average("quality") != nil %>
      Total score: <%= @store.average("quality").avg%>/<%= @store.rates("quality").count %>
    <%end%>
    <hr>

    <!-- Basic Info -->
    <h4>About Seller</h4>
    <p><%= @store.user.description || @store.description%></p>


    <!-- SUBSCRIBE / UNSUBSCRIBE LINKS -->
    <% if current_user && current_user.id != @store.user.id %>
      <% if current_user_is_following(current_user.id, @store.user.id)%>
        <%= link_to "Unsubscribe", unfollow_user_path(@store.user.username), class: 'btn btn-primary'%>
      <% else %>
        <%= link_to "Subscribe", follow_user_path(@store.user.username), class: 'btn btn-primary'%>
      <% end %>
    <% end %>
  </div>
</div>
