<!-- PANEL -->
<%= render 'side_panel' %>

<!-- MAIN -->
<div id="main">
  <section class="theater">

    <div id="stream">

      <!-- Kill Button -->
      <% if @streamer_view %>
        <button id="kill" class="btn btn-danger">End Stream</button>
      <% end %>


      <article>
        <!-- copy this <section> and next <script> -->
        <section class="experiment">
        <% if @streamer_view %>
          <section style="display: none;">
            <input type="text" id="broadcast-name" value="<%= @stream_name %>" >
            <button id="setup-new-broadcast" class="setup">Setup New Broadcast</button>
          </section>

        <% else %>
          <!-- list of all available broadcasting rooms -->
          <table style="display: none; width: 100%;" id="rooms-list"></table>
        <% end %>
          <!-- local/remote videos container -->
          <div id="videos-container"></div>
        </section>

        <%= render 'inline-script' %>

      </article>
    </div>

  </section>
  <section class="products">
    <h2>Products in this stream</h2>
    <%= @show %>
    <hr>
    <div class="container row">
        <%= render @products, class: 'col-md-6' %>
    </div>
  </section>
  <section class="products">
    <h2>Other popular products by seller</h2>
    <hr>
    <%= render @products, class: 'col-md-6' %>

  </section>

</div>
<script src="https://cdn.webrtc-experiment.com/commits.js" async> </script>
