<!-- PANEL -->
<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script> <!-- audio/video recording -->
<%= render 'side_panel' %>

<!-- MAIN -->
<div id="main">
  <% if @store.streaming_now == true %>
      <h3 id="store-headline"><%= @store.name %><span class="message"> is live: <%= @store.stream_instance.title %></span></h3>
  <% else %>
      <h3 id="store-headline"><%= @store.name %><span class="message">'s stream is offline, but products are available for purchase at any time!</span></h3>
  <% end %>
  <section class="theater">

    <div id="stream" style="background-image: url(<%= @store.cover_photo.url(:original) %>)">

      <!-- Overlay -->
      <% if @store.streaming_now %>
        <div class="overlay"></div>
      <% end %>

      <!-- Kill Button -->
      <% if @streamer_view %>
          <button id="stop-recording" class="btn btn-danger">End Stream</button>
          <!-- Hidden Form -->
          <%= form_tag("/stores/#{current_user.store.slug}/end", remote: true, style: "display: none") do %>
            <%= hidden_field_tag :end_stream, true %>
            <%= submit_tag "End Stream", id: "end-stream-submit" %>
          <% end %>
      <% end %>

      <% if @streamer_view %>
          <section style="display: none;">
            <input type="text" id="broadcast-name" value="<%= @stream_name %>">
            <button id="setup-new-broadcast" class="setup">Setup New Broadcast</button>
          </section>
      <% else %>
          <!-- list of all available broadcasting rooms -->
          <table style="display: none; width: 100%;" id="rooms-list"></table>
      <% end %>

      <!-- local/remote videos container -->
      <div id="videos-container">
        <%= image_tag "video_placeholder.png", id: 'fake-video-placeholder', class: @streamer_view ? "fake-video display-none" : "fake-video" %>
      </div>

      <%= render partial: 'inline-script', locals: { store_id: @store.id, streamer_view: @streamer_view, streaming_now: @store.streaming_now } %>

    </div>

  </section>

  <% if @store.streaming_now == true %>
    <section id="streaming-products" class="products">
      <h3>Products in this stream</h3>
      <hr>
      <div class="container row">
      <% @streaming_products.each do |product| %>
        <%= render partial: 'products/product', locals: {product: product}, class: 'col-md-6' %>
      <% end %>
      </div>
    </section>
  <% end %>

  <section id="main-products" class="products">

    <% if @store.streaming_now == true %>
        <h3 id="other-products-headline">Other popular products by seller</h3>
    <% else %>
        <h3>Products:</h3>
    <% end %>

    <hr>
    <div class="container row">
      <%= render @products, class: 'col-md-6' %>
    </div>
  </section>
</div>
