  <!-- <div class="hero"></div> -->
<!--   <br>
  <br>
  <h2 class="text-center">Streaming Live Now:</h2>
  <br> -->
  <div class="wrapper">
    <div id="coverflow">
      <div id="gradient"></div>

      <h4>
        <small>Top stores:</small>
        <br>
        <span>Live<svg xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="red"></svg></span>
      </h4>

      <% if @streaming_stores.count > 0 %>
        <ul class="flip-items">
          <% @streaming_stores.each do |store, i| %>
            <li
              data-store="<%= store.name %>"
              data-stream="<%= store.stream_instance.title %>"
              data-uri="<%= store_path(store) %>">
              <%= image_tag store.user.avatar.url(:medium) %>
            </li>
          <% end %>
        </ul>

      <% else %>
        <p>No stores are currently streaming</p>
      <% end %>
    </div>

    <div id="coverflow-panel">
      <!-- dynamically populated -->
    </div>
  </div>

  <h2>Other Popular stores:</h2>
  <% if @other_stores.count > 0 %>
    <div class="row">
      <% @other_stores.each do |store| %>
        <%= render partial: 'stores/store_listing', locals: {store: store} %>
      <% end %>
    </div>
  <% else %>
    <p>All stores have already been listed above!</p>
  <% end %>
