<div class="wrapper">
  <div class="card" style="width: 18rem;">
    <%= image_tag product.image.url(:original), class: 'card-img-top' %>
    <div class="card-block">
      <h4 class="card-title"><%= product.name %></h4>
      <p class="card-text"><%= product.price %> VND</p>
      <button data-target="#myModal-<%= product.id %>" data-toggle="modal">SEE MORE</button>
      <button>BUY NOW</button>

    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal-<%= product.id %>" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag product.image.url(:original), class: 'card-img-top' %>
        </div>
        <div class="col-md-6">
          <span class="close">&times;</span>
          <h3 class="card-title"><%= product.name %></h3>
          <p><%= product.description %></p>
          <p><%= product.price %></p>
          <button>BUY NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>