<!DOCTYPE html>
<html>
  <head>
    <title>CashLive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body class="<%= body_class %>">
    <%= render 'shared/navbar' %>
    <div class="container-fluid app-container">
       <% if flash.any? %>
      <div style="margin-top: 60px;">
        <%= flash_messages %>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
